{% load static %}
{% load socialaccount %}
<!DOCTYPE html>
<html lang="vi">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>English4All</title>
    <link rel="stylesheet" href="{% static 'app\css\base.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <header>
        <nav>
            <div class="logo">
                <a href="{%url 'home' %}">English4All</a>
            </div>
            <ul>
                <li class="gioi_thieu">
                    <a href="{%url 'gioi_thieu' %}">Giới thiệu</a>
                </li>
                <li><a href="{%url 'lich_khai_giang' %}" cl ass="lich_khai_giang">Lịch khai giảng</a></li>
                <li class="khoa_hoc">
                    <a href="{%url 'course' %}" id="my-link" data-title="Khóa học">Khóa học</a>
                    <ul class="sub-menu">
                        <li><a href="/khoa_hoc/TOEIC">TOEIC</a></li>
                        <li><a href="/khoa_hoc/IELTS">IELTS</a></li>
                        <li><a href="/khoa_hoc/THPTQG">THPTQG</a></li>
                    </ul>
                </li>
                <li><a href="{%url 'lo_trinh' %}" class="Lo_trinh_header">Lộ trình</a></li>
                <li><a href="#contact_info" class="lien_he">Liên hệ</a></li>
                <li><a href="{%url 'vinh_danh' %}" class="vinh_danh">Vinh danh</a></li>
            </ul>
            <a href="{%url 'test_online' %}" class="test_online">TEST ONLINE</a>
            <div class="auth" style="visibility: {{user_not_login}}">
                <a href="{%url 'login' %}" id="loginBtn" class="login">Đăng nhập</a>
                <a href="{%url 'register' %}" id="registerBtn" class="register">Đăng ký</a>
            </div>
            <div style="visibility: {{user_login}}">
                <ul>
                    <li class="user">
                        <a href="">{{request.user}}</a>
                        <ul class="sub-menu">
                            <li><a href="{%url 'thong_tin' %}">Thông tin</a></li>
                            <li><a href="{%url 'thanh_toan' %}">Thanh toán</a></li>
                            <li><a href="{%url 'tien_trinh' %}">Tiến trình</a></li>
                            <li><a href="{%url 'logout' %}">Đăng xuất</a></li>
                        </ul>
                    </li>
                </ul>   
            </div>
        </nav>
    </header>
    <body>
        {% block content %}
        {% endblock content %}
    </body>
    <footer>
        <p>© 2025 English4All. All rights reserved.</p>
    </footer>
    <script src="{% static 'app\js\home.js' %}"></script>
</body>